/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');

/* body and headers */
h1 {
	font-family: 'Delicious Handrawn';
	font-weight: 500;
	font-size: 50px;
}
h2{
	font-family: 'Delicious Handrawn';
	font-weight: 400;
}
h3{
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 600;
}
h4{
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 500;
}
h5{
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 500;
}
h6{
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 400;
}

body {
	font-family: 'Edu NSW ACT Foundation';
	color: #202030;
	background-color: #f8f8fc;
	font-size: 12px;
}

/* custom classes */
.fw-bolder {
	padding-top: 20px;
}
.resume-header {
    background-color: #9C5A71;
	color: floralwhite;
	padding: 30px;
}
.resume-main {
	background-color: #E9D8E1;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px
}
.resume-aside {
	background-color: #B6E8BA;
	padding-right: 30px;
	padding-left: 30px;
}
.biography-details{
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 500;
}
.biography-details li::before, .skill-list li::before {
	content: ">";
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.language-name {
	font-family: 'Edu NSW ACT Foundation';
	padding-bottom: 4px;
	padding-top: 4px;
}
.language-progress {
	background-color: #9C5A71 !important;
}
.language-level{
	border-color: #60A340 !important;
}
.biography-details li::before {
	color: #60A340;
}
.skill-list li::before {
	color: #9C5A71;
}
.skill-item{
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 500;
}
.biography-details li, .skill-list li {
	padding-left: 1em;
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 500;
}
.header-content {
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 500;
}
/* contact */
.contact {
	color: #9C5A71;
	font-family: 'Edu NSW ACT Foundation';
	font-weight: 500;
	
}
.contact-icon {
	height: 1.5em;
	flex-basis: 1.5em;
	padding-right: 5px;
}