/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body and headers */
h1 {
	font-family: 'Bodoni Moda';
	font-weight: 800;
}
h2{
	font-family: 'Bodoni Moda';
	font-weight: 700;
}
h3{
	font-family: 'Bodoni Moda';
	font-weight: 600;
}
h4{
	font-family: 'Bodoni Moda';
	font-weight: 500;
}
h5{
	font-family: 'Bodoni Moda';
	font-weight: 400;
}
h6{
	font-family: 'Bodoni Moda';
	font-weight: 300;
}

body {
	font-family: Georgia, 'serif';
	color: #202030;
	background-color: #f8f8fc;
	font-size: 12px;
}

/* custom classes */
.fw-bolder {
	padding-top: 20px;
}
.resume-header {
    background-color: #9C5A71;
	color: floralwhite;
	padding: 30px;
}

.resume-main {
	background-color: #E9D8E1;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px
}

.resume-aside {
	background-color: #B6E8BA;
	padding-right: 30px;
	padding-left: 30px;
}

/* lists */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-family: Georgia, "serif";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.language-name {
	font-family: 'Bodoni Moda';
}
.language-progress {
	background-color: #9C5A71 !important;
}
.language-level{
	border-color: #60A340 !important;
}
.biography-details li::before {
	color: #60A340;
}
.skill-list li::before {
	color: #9C5A71;
}
.biography-details li, .skill-list li {
	padding-left: 1em;
}
.header-content {
	font-family: 'Bodoni Moda';
	font-weight: 800;
}
/* contact icons */
.contact-item {
	color: #9C5A71;
}
.contact-icon {
	height: 1.5em;
	flex-basis: 1.5em;
	padding-right: 5px;
}